flows/02-sales-report-automation/flow.json
[{"updatedAt":"2026-04-09T23:15:39.672Z","createdAt":"2026-04-09T23:15:39.672Z","id":"flow02SalesReport01","name":"02 - Sales Report Automation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8,"triggerAtMinute":0}]}},"id":"sched-02-001","name":"Every Monday 8AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,0],"notes":"Dispara cada lunes a las 8 AM hora Colombia"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"'1tPeL0mx1ojhL5u6emWt__zH1UvIGBgX9' in parents and trashed=false and mimeType='application/vnd.google-apps.spreadsheet'"},{"name":"orderBy","value":"createdTime desc"},{"name":"pageSize","value":"1"},{"name":"fields","value":"files(id,name,createdTime)"}]},"options":{}},"id":"drive-02-001","name":"List Drive Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,0],"credentials":{"googleSheetsOAuth2Api":{"id":"QCXBKHkn1sduOECj","name":"Google Sheets account"}},"notes":"Lista archivos en la carpeta Drive, toma el más reciente"},{"parameters":{"jsCode":"const files = $json.files;\nif (!files || files.length === 0) {\n  throw new Error('No se encontraron archivos en la carpeta de Drive. Asegúrate de subir el reporte semanal antes del lunes.');\n}\nconst latest = files[0];\nreturn [{ json: {\n  fileId: latest.id,\n  fileName: latest.name,\n  createdTime: latest.createdTime\n}}];"},"id":"code-02-fileid","name":"Get Latest File ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0],"notes":"Extrae el ID del archivo más reciente de la carpeta"},{"parameters":{"operation":"read","documentId":{"__rl":true,"value":"={{ $json.fileId }}","mode":"id"},"sheetName":{"__rl":true,"value":"citas","mode":"name"},"options":{}},"id":"sheets-02-001","name":"Read Citas Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-80,0],"credentials":{"googleSheetsOAuth2Api":{"id":"QCXBKHkn1sduOECj","name":"Google Sheets account"}},"notes":"Lee la hoja 'citas' del archivo más reciente en Drive"},{"parameters":{"jsCode":"// Filtrar filas validas: deben tener Fecha y Paciente, no ser encabezado ni vacías\nconst allRows = $input.all().map(item => item.json);\nconst rows = allRows.filter(row => {\n  const fecha = String(row['Fecha'] || '').trim();\n  const paciente = String(row['Paciente'] || '').trim();\n  return fecha && paciente\n    && fecha.toLowerCase() !== 'fecha'\n    && paciente.toLowerCase() !== 'paciente';\n});\nif (rows.length === 0) throw new Error('No se encontraron filas de citas validas');\n\n// Parser robusto para pesos colombianos\n// Soporta: 188.571 | 188.571,00 | $ 188.571,00 | 188571 | 188571.00\nconst parsePrice = (price) => {\n  if (!price || price === '' || price === '-' || price === 'N/A') return 0;\n  let str = String(price).replace(/[$\\s]/g, '').trim();\n  if (!str || str === '-') return 0;\n  const hasPeriod = str.includes('.');\n  const hasComma = str.includes(',');\n  if (hasPeriod && hasComma) {\n    if (str.lastIndexOf('.') > str.lastIndexOf(',')) {\n      str = str.replace(/,/g, '');\n    } else {\n      str = str.replace(/\\./g, '').replace(',', '.');\n    }\n  } else if (hasPeriod) {\n    const parts = str.split('.');\n    if (parts[parts.length - 1].length === 3) str = str.replace(/\\./g, '');\n  } else if (hasComma) {\n    const parts = str.split(',');\n    if (parts[parts.length - 1].length === 3) str = str.replace(/,/g, '');\n    else str = str.replace(',', '.');\n  }\n  return parseFloat(str) || 0;\n};\n\nconst fmt = (n) => Math.round(n).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n\nlet totalIngresos = 0;\nconst porEstado = {}, porServicio = {}, porAseguradora = {}, porOrigen = {}, fechas = [];\n\nrows.forEach(row => {\n  const precio = parsePrice(row['Precio']);\n  totalIngresos += precio;\n  const estado = String(row['Estado'] || 'Sin estado').trim();\n  porEstado[estado] = (porEstado[estado] || 0) + 1;\n  const srv = String(row['Servicios'] || 'Sin servicio').trim();\n  if (!porServicio[srv]) porServicio[srv] = { count: 0, ingresos: 0 };\n  porServicio[srv].count++;\n  porServicio[srv].ingresos += precio;\n  const aseg = String(row['Aseguradora'] || 'Particular').trim();\n  porAseguradora[aseg] = (porAseguradora[aseg] || 0) + 1;\n  const origen = String(row['Origen de la cita'] || 'Directo').trim();\n  porOrigen[origen] = (porOrigen[origen] || 0) + 1;\n  if (row['Fecha']) fechas.push(String(row['Fecha']));\n});\n\nconst totalCitas = rows.length;\nconst promedioPorCita = totalCitas > 0 ? Math.round(totalIngresos / totalCitas) : 0;\nconst canceladas = (porEstado['Cancelada'] || 0) + (porEstado['Cancelado'] || 0);\nconst tasaCancelacion = totalCitas > 0 ? Math.round((canceladas / totalCitas) * 100) : 0;\nconst topServicios = Object.entries(porServicio).sort((a, b) => b[1].ingresos - a[1].ingresos).slice(0, 5).map(([nombre, d]) => ({ nombre, citas: d.count, ingresos: d.ingresos, ingresosStr: '$' + fmt(d.ingresos) }));\nconst topOrigenes = Object.entries(porOrigen).sort((a, b) => b[1] - a[1]).map(([origen, count]) => ({ origen, count }));\nconst topAseguradoras = Object.entries(porAseguradora).sort((a, b) => b[1] - a[1]).slice(0, 6).map(([nombre, count]) => ({ nombre, count }));\nconst periodo = fechas.length > 0 ? `${fechas[0]} al ${fechas[fechas.length - 1]}` : 'Semana actual';\nreturn [{ json: { periodo, totalCitas, totalIngresos, totalIngresosStr: '$' + fmt(totalIngresos), promedioPorCita, promedioPorCitaStr: '$' + fmt(promedioPorCita), tasaCancelacion, canceladas, porEstado, topServicios, topAseguradoras, topOrigenes, generadoEn: new Date().toISOString() }}];"},"id":"code-02-kpi","name":"Calculate KPIs","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,0],"notes":"Calcula métricas: ingresos, citas, cancelaciones, top servicios"},{"parameters":{"promptType":"define","text":"=Eres un analista de negocios médicos experto. Analiza estos KPIs de citas médicas semanales y redacta un informe ejecutivo conciso en español.\n\nDATOS DE LA SEMANA ({{ $json.periodo }}):\n- Total citas: {{ $json.totalCitas }}\n- Ingresos totales: {{ $json.totalIngresosStr }}\n- Promedio por cita: {{ $json.promedioPorCitaStr }}\n- Tasa de cancelación: {{ $json.tasaCancelacion }}% ({{ $json.canceladas }} citas)\n\nTOP SERVICIOS POR INGRESOS:\n{{ $json.topServicios.map(s => '- ' + s.nombre + ': ' + s.citas + ' citas · ' + s.ingresosStr).join('\\n') }}\n\nORIGEN DE CITAS:\n{{ $json.topOrigenes.map(o => '- ' + o.origen + ': ' + o.count + ' citas').join('\\n') }}\n\nASEGURADORAS / TIPO DE PAGO:\n{{ $json.topAseguradoras.map(a => '- ' + a.nombre + ': ' + a.count + ' citas').join('\\n') }}\n\nGenera el informe con estas secciones exactas:\n1. RESUMEN EJECUTIVO (2-3 oraciones con lo más importante de la semana)\n2. PUNTOS DESTACADOS (3 bullets con aspectos positivos)\n3. ÁREAS DE ATENCIÓN (2 bullets con riesgos o aspectos a mejorar)\n4. RECOMENDACIONES (2-3 acciones concretas para la próxima semana)\n\nTono: profesional, directo, orientado a decisiones. Máximo 350 palabras."},"id":"llm-02-chain","name":"AI Report Writer","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[400,0],"notes":"Genera narrativa ejecutiva del reporte con Ollama"},{"parameters":{"model":"llama3.2:latest","options":{"temperature":0.4}},"id":"ollama-02-001","name":"Ollama llama3.2","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[400,200],"credentials":{"ollamaApi":{"id":"7G8MbKlUIpL7R1BC","name":"Ollama account"}}},{"parameters":{"jsCode":"const kpis = $('Calculate KPIs').first().json;\nconst narrative = ($input.first().json.response || $input.first().json.text || 'Narrativa no disponible')\n  .replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  .replace(/\\n/g, '<br>')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\nconst serviceRows = kpis.topServicios.map(s =>\n  `<tr><td style=\"padding:10px 12px;border-bottom:1px solid #f1f5f9;font-size:13px;color:#334155;\">${s.nombre}</td><td style=\"padding:10px 12px;border-bottom:1px solid #f1f5f9;text-align:center;font-size:13px;\">${s.citas}</td><td style=\"padding:10px 12px;border-bottom:1px solid #f1f5f9;text-align:right;font-weight:600;color:#059669;font-size:13px;\">${s.ingresosStr}</td></tr>`\n).join('');\n\nconst originRows = kpis.topOrigenes.map(o =>\n  `<tr><td style=\"padding:8px 10px;border-bottom:1px solid #f1f5f9;font-size:12px;\">${o.origen}</td><td style=\"padding:8px 10px;border-bottom:1px solid #f1f5f9;text-align:center;font-size:12px;\">${o.count}</td><td style=\"padding:8px 10px;border-bottom:1px solid #f1f5f9;text-align:center;font-size:12px;\">${Math.round((o.count / kpis.totalCitas) * 100)}%</td></tr>`\n).join('');\n\nconst statusRows = Object.entries(kpis.porEstado).map(([estado, count]) =>\n  `<tr><td style=\"padding:8px 10px;border-bottom:1px solid #f1f5f9;font-size:12px;\">${estado}</td><td style=\"padding:8px 10px;border-bottom:1px solid #f1f5f9;text-align:center;font-size:12px;\">${count}</td><td style=\"padding:8px 10px;border-bottom:1px solid #f1f5f9;text-align:center;font-size:12px;\">${Math.round((count / kpis.totalCitas) * 100)}%</td></tr>`\n).join('');\n\nconst cancelColor = kpis.tasaCancelacion > 20 ? '#fef2f2' : '#f0fdf4';\nconst cancelTextColor = kpis.tasaCancelacion > 20 ? '#dc2626' : '#16a34a';\n\nconst html = `<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f8fafc;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;padding:32px 16px;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\"><tr><td style=\"background:linear-gradient(135deg,#1e40af 0%,#7c3aed 100%);border-radius:16px 16px 0 0;padding:32px 32px 24px;\"><p style=\"margin:0 0 4px;color:rgba(255,255,255,0.7);font-size:12px;letter-spacing:0.08em;text-transform:uppercase;\">Informe Semanal Automatizado</p><h1 style=\"margin:0 0 8px;color:#fff;font-size:24px;font-weight:700;\">Reporte de Citas Médicas</h1><p style=\"margin:0;color:rgba(255,255,255,0.85);font-size:14px;\">📅 Período: ${kpis.periodo}</p><p style=\"margin:4px 0 0;color:rgba(255,255,255,0.55);font-size:11px;\">Generado automáticamente · ${new Date().toLocaleDateString('es-CO',{timeZone:'America/Bogota',weekday:'long',year:'numeric',month:'long',day:'numeric'})}</p></td></tr><tr><td style=\"background:#fff;padding:24px 24px 16px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"25%\" style=\"padding:0 5px 0 0;\"><div style=\"background:#eff6ff;border-radius:12px;padding:16px;text-align:center;\"><div style=\"font-size:30px;font-weight:800;color:#1e40af;\">${kpis.totalCitas}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Total Citas</div></div></td><td width=\"25%\" style=\"padding:0 5px;\"><div style=\"background:#ecfdf5;border-radius:12px;padding:16px;text-align:center;\"><div style=\"font-size:20px;font-weight:800;color:#059669;\">${kpis.totalIngresosStr}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Ingresos</div></div></td><td width=\"25%\" style=\"padding:0 5px;\"><div style=\"background:#fefce8;border-radius:12px;padding:16px;text-align:center;\"><div style=\"font-size:18px;font-weight:800;color:#d97706;\">${kpis.promedioPorCitaStr}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Promedio/Cita</div></div></td><td width=\"25%\" style=\"padding:0 0 0 5px;\"><div style=\"background:${cancelColor};border-radius:12px;padding:16px;text-align:center;\"><div style=\"font-size:30px;font-weight:800;color:${cancelTextColor};\">${kpis.tasaCancelacion}%</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Cancelaciones</div></div></td></tr></table></td></tr><tr><td style=\"background:#fff;padding:8px 24px 24px;\"><div style=\"background:#f8fafc;border-left:4px solid #7c3aed;border-radius:0 12px 12px 0;padding:20px;\"><p style=\"margin:0 0 12px;font-size:11px;font-weight:700;color:#7c3aed;text-transform:uppercase;letter-spacing:0.08em;\">✦ Análisis IA — Ollama llama3.2</p><div style=\"font-size:14px;line-height:1.75;color:#374151;\">${narrative}</div></div></td></tr><tr><td style=\"background:#fff;padding:0 24px 24px;\"><h3 style=\"margin:0 0 12px;font-size:14px;font-weight:700;color:#1e293b;\">Top Servicios por Ingresos</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius:10px;overflow:hidden;border:1px solid #e2e8f0;\"><tr style=\"background:#f8fafc;\"><th style=\"padding:10px 12px;text-align:left;font-size:11px;color:#64748b;font-weight:600;\">SERVICIO</th><th style=\"padding:10px 12px;text-align:center;font-size:11px;color:#64748b;font-weight:600;\">CITAS</th><th style=\"padding:10px 12px;text-align:right;font-size:11px;color:#64748b;font-weight:600;\">INGRESOS</th></tr>${serviceRows}</table></td></tr><tr><td style=\"background:#fff;padding:0 24px 24px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"50%\" style=\"padding-right:10px;vertical-align:top;\"><h3 style=\"margin:0 0 10px;font-size:13px;font-weight:700;color:#1e293b;\">Origen de Citas</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius:10px;overflow:hidden;border:1px solid #e2e8f0;\"><tr style=\"background:#f8fafc;\"><th style=\"padding:8px 10px;text-align:left;font-size:10px;color:#64748b;\">ORIGEN</th><th style=\"padding:8px 10px;text-align:center;font-size:10px;color:#64748b;\">N°</th><th style=\"padding:8px 10px;text-align:center;font-size:10px;color:#64748b;\">%</th></tr>${originRows}</table></td><td width=\"50%\" style=\"padding-left:10px;vertical-align:top;\"><h3 style=\"margin:0 0 10px;font-size:13px;font-weight:700;color:#1e293b;\">Estado de Citas</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius:10px;overflow:hidden;border:1px solid #e2e8f0;\"><tr style=\"background:#f8fafc;\"><th style=\"padding:8px 10px;text-align:left;font-size:10px;color:#64748b;\">ESTADO</th><th style=\"padding:8px 10px;text-align:center;font-size:10px;color:#64748b;\">N°</th><th style=\"padding:8px 10px;text-align:center;font-size:10px;color:#64748b;\">%</th></tr>${statusRows}</table></td></tr></table></td></tr><tr><td style=\"background:#1e293b;border-radius:0 0 16px 16px;padding:18px 24px;text-align:center;\"><p style=\"margin:0;color:#94a3b8;font-size:11px;\">Informe generado automáticamente · n8n + Ollama llama3.2</p><p style=\"margin:4px 0 0;color:#475569;font-size:10px;\">Flow 02 — Sales Report Automation · Portfolio Cristian Silva</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{ json: {\n  html,\n  subject: `📊 Reporte Semanal Citas — ${kpis.periodo} · ${kpis.totalCitas} citas · ${kpis.totalIngresosStr}`\n}}];"},"id":"code-02-html","name":"Build HTML Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"notes":"Construye el email HTML con KPIs + narrativa IA"},{"parameters":{"sendTo":"cristian.1003@hotmail.com","subject":"={{ $json.subject }}","message":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"gmail-02-001","name":"Send Weekly Report","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[880,0],"credentials":{"gmailOAuth2":{"id":"fZrABQqbULrOHoA3","name":"Gmail account"}},"notes":"Envía el reporte HTML a cristian.1003@hotmail.com"}],"connections":{"Every Monday 8AM":{"main":[[{"node":"List Drive Folder","type":"main","index":0}]]},"List Drive Folder":{"main":[[{"node":"Get Latest File ID","type":"main","index":0}]]},"Get Latest File ID":{"main":[[{"node":"Read Citas Sheet","type":"main","index":0}]]},"Read Citas Sheet":{"main":[[{"node":"Calculate KPIs","type":"main","index":0}]]},"Calculate KPIs":{"main":[[{"node":"AI Report Writer","type":"main","index":0}]]},"Ollama llama3.2":{"ai_languageModel":[[{"node":"AI Report Writer","type":"ai_languageModel","index":0}]]},"AI Report Writer":{"main":[[{"node":"Build HTML Report","type":"main","index":0}]]},"Build HTML Report":{"main":[[{"node":"Send Weekly Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every Monday 8AM":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":false},"pinData":null,"versionId":"32efd54f-db0b-4e2c-9131-ee4ea234780f","activeVersionId":null,"versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-09T23:15:39.675Z","createdAt":"2026-04-09T23:15:39.675Z","role":"workflow:owner","workflowId":"flow02SalesReport01","projectId":"jjU7IHtvfVDnlwjZ","project":{"updatedAt":"2026-04-08T20:09:26.086Z","createdAt":"2026-04-08T19:29:03.618Z","id":"jjU7IHtvfVDnlwjZ","name":"Andres Silva <mundohuellitashop@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"aaf55ea4-046f-4236-9fe4-04998138524f"}}],"versionMetadata":{"name":null,"description":null}}]