flows/01-lead-qualification-ai/flow.json
[{"updatedAt":"2026-04-09T22:40:10.035Z","createdAt":"2026-04-08T20:21:52.066Z","id":"vxKmL8OXbIOSMqkH","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"new-lead","responseMode":"responseNode","options":{}},"id":"478a0e14-0ed6-4358-ad0b-5c23f4c0b763","name":"Webhook - New Lead","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-448,112],"webhookId":"dd5bfc2e-364c-47ec-894f-babede5916c9","notes":"Recibe el lead desde un formulario web o CRM externo"},{"parameters":{"jsCode":"const lead = $input.first().json.body || $input.first().json;\n\n// Validar campos requeridos\nconst required = ['name', 'email', 'company', 'message'];\nconst missing = required.filter(f => !lead[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Enriquecer datos del lead\nconst enriched = {\n  id: `LEAD-${Date.now()}`,\n  timestamp: new Date().toISOString(),\n  name: lead.name.trim(),\n  email: lead.email.toLowerCase().trim(),\n  company: lead.company.trim(),\n  message: lead.message.trim(),\n  phone: lead.phone || 'Not provided',\n  source: lead.source || 'Website',\n  // Extraer dominio del email para análisis\n  emailDomain: lead.email.split('@')[1],\n  // Calcular longitud del mensaje como señal de intención\n  messageLength: lead.message.length,\n  messageWords: lead.message.split(' ').length\n};\n\nreturn { json: enriched };"},"id":"13630360-188b-476c-82a9-f20f2f6db33d","name":"Validate & Enrich Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,112],"notes":"Valida campos, genera ID único y enriquece datos del lead"},{"parameters":{"model":"llama3.2:latest","options":{"temperature":0.3}},"id":"11d2f185-9f7c-4499-b33b-dbe992bf7fd8","name":"AI Qualification (Ollama)","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[16,416],"credentials":{"ollamaApi":{"id":"7G8MbKlUIpL7R1BC","name":"Ollama account"}},"notes":"LLM local con Ollama - sin costo. Cambia a OpenAI si prefieres cloud."},{"parameters":{"jsCode":"const lead = $('Validate & Enrich Lead').first().json;\nlet aiRaw = $input.first().json.response || $input.first().json.text || '';\n\n// Limpiar respuesta del LLM (remover markdown si viene)\naiRaw = aiRaw.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet qualification;\ntry {\n  qualification = JSON.parse(aiRaw);\n} catch(e) {\n  // Fallback si el LLM no responde en JSON válido\n  qualification = {\n    score: 50,\n    tier: 'WARM',\n    intent: 'Medium',\n    budget_signals: 'Unknown',\n    urgency: 'Unknown',\n    recommended_action: 'Manual review required',\n    follow_up_within: '24 hours',\n    key_insights: ['AI parsing error - manual review needed'],\n    risk_flags: ['Could not parse AI response'],\n    personalized_opener: `Hi ${lead.name}, thank you for reaching out.`\n  };\n}\n\n// Combinar todo en un objeto final\nconst result = {\n  ...lead,\n  qualification,\n  // Color para dashboard\n  tierColor: qualification.tier === 'HOT' ? '#FF4444' : qualification.tier === 'WARM' ? '#FF8C00' : '#4444FF',\n  // Prioridad numérica para ordenar\n  priority: qualification.tier === 'HOT' ? 1 : qualification.tier === 'WARM' ? 2 : 3,\n  processedAt: new Date().toISOString()\n};\n\nreturn { json: result };"},"id":"87c7f960-7a59-4f9e-93eb-45b1908122d2","name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,112],"notes":"Parsea y valida el JSON del LLM. Tiene fallback si falla el parsing."},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.qualification.tier }}","value2":"HOT"}]}},"id":"dd510f97-0bb8-4da7-a3c5-7f881fd7b89c","name":"Route by Tier","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,-64],"notes":"HOT leads → alerta inmediata. WARM/COLD → flujo estándar"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appyecPwIQbV99u02","mode":"list","cachedResultName":"Lead Pipeline","cachedResultUrl":"https://airtable.com/appyecPwIQbV99u02"},"table":{"__rl":true,"value":"tblFdw8m67PhEcNdd","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appyecPwIQbV99u02/tblFdw8m67PhEcNdd"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","Lead ID":"={{ $json.id }}","Notes":"=","Score":"={{ $json.qualification.score }}","Email":"={{ $json.email }}","Company\t":"={{ $json.company }}","Intent":"={{ $json.qualification.intent }}","Recommended Action\t":"={{ $json.qualification.recommended_action }}","Follow Up Within\t":"={{ $json.qualification.follow_up_within }}","Key Insights\t":"={{ $json.qualification.key_insights.join(', ') }}","Risk Flags\t":"={{ $json.qualification.risk_flags.join(', ') }}","Personalized Opener\t":"={{ $json.qualification.personalized_opener }}","Source":"={{ $json.source }}","Message":"={{ $json.message }}","Created At":"={{ $json.timestamp }}\n","Urgency":"={{ $json.qualification.urgency }}","Tier":"={{ $json.qualification.tier }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company\t","displayName":"Company\t","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Tier","displayName":"Tier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"HOT","value":"HOT"},{"name":"WARM","value":"WARM"},{"name":"COLD","value":"COLD"}],"readOnly":false,"removed":false},{"id":"Intent","displayName":"Intent","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Urgency","displayName":"Urgency","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"High","value":"High"},{"name":"Medium","value":"Medium"},{"name":"Low","value":"Low"}],"readOnly":false,"removed":false},{"id":"Recommended Action\t","displayName":"Recommended Action\t","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follow Up Within\t","displayName":"Follow Up Within\t","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Key Insights\t","displayName":"Key Insights\t","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Risk Flags\t","displayName":"Risk Flags\t","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Personalized Opener\t","displayName":"Personalized Opener\t","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1bab22a6-ff98-47ae-9194-b282a395f3fc","name":"Save to Airtable CRM","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[704,64],"credentials":{"airtableTokenApi":{"id":"U20L5kAoWu3Ju6uE","name":"Airtable Personal Access Token account"}},"notes":"Guarda el lead calificado en Airtable. Plan gratis: 1000 records/base."},{"parameters":{"sendTo":"cristian.1003@hotmail.com","subject":"=={{ $json.qualification.tier === 'HOT' ? '🔥 [URGENT] HOT Lead: ' + $json.name + ' - ' + $json.company : $json.qualification.tier === 'WARM' ? '⚡ New WARM Lead: ' + $json.name + ' - ' + $json.company : '📋 New Lead: ' + $json.name + ' - ' + $json.company }}\n","message":"=<!DOCTYPE html>\n<html>\n<body style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>\n  <div style='background: {{ $json.tierColor }}; color: white; padding: 20px; border-radius: 8px 8px 0 0;'>\n    <h2 style='margin:0'>{{ $json.qualification.tier }} Lead Alert</h2>\n    <p style='margin:5px 0 0'>Score: {{ $json.qualification.score }}/100</p>\n  </div>\n  <div style='background: #f9f9f9; padding: 20px; border: 1px solid #ddd;'>\n    <h3>Lead Information</h3>\n    <table style='width:100%; border-collapse: collapse;'>\n      <tr><td style='padding:8px; font-weight:bold'>Name</td><td>{{ $json.name }}</td></tr>\n      <tr style='background:#fff'><td style='padding:8px; font-weight:bold'>Company</td><td>{{ $json.company }}</td></tr>\n      <tr><td style='padding:8px; font-weight:bold'>Email</td><td>{{ $json.email }}</td></tr>\n      <tr style='background:#fff'><td style='padding:8px; font-weight:bold'>Source</td><td>{{ $json.source }}</td></tr>\n    </table>\n    <h3>AI Qualification</h3>\n    <table style='width:100%; border-collapse: collapse;'>\n      <tr><td style='padding:8px; font-weight:bold'>Intent</td><td>{{ $json.qualification.intent }}</td></tr>\n      <tr style='background:#fff'><td style='padding:8px; font-weight:bold'>Budget Signals</td><td>{{ $json.qualification.budget_signals }}</td></tr>\n      <tr><td style='padding:8px; font-weight:bold'>Urgency</td><td>{{ $json.qualification.urgency }}</td></tr>\n      <tr style='background:#fff'><td style='padding:8px; font-weight:bold'>Follow Up</td><td><strong>{{ $json.qualification.follow_up_within }}</strong></td></tr>\n    </table>\n    <h3>Recommended Action</h3>\n    <p style='background:#e8f4f8; padding:12px; border-radius:4px'>{{ $json.qualification.recommended_action }}</p>\n    <h3>Key Insights</h3>\n    <ul>{{ $json.qualification.key_insights.map(i => '<li>' + i + '</li>').join('') }}</ul>\n    <h3>Personalized Opener</h3>\n    <p style='background:#fff3cd; padding:12px; border-radius:4px; font-style:italic'>\"{{ $json.qualification.personalized_opener }}\"</p>\n    {{ $json.qualification.risk_flags.length > 0 ? '<h3>⚠️ Risk Flags</h3><ul style=\"color:#dc3545\">' + $json.qualification.risk_flags.map(f => '<li>' + f + '</li>').join('') + '</ul>' : '' }}\n  </div>\n  <div style='background:#333; color:#aaa; padding:12px; text-align:center; font-size:12px; border-radius:0 0 8px 8px'>\n    Lead ID: {{ $json.id }} | Processed: {{ $json.processedAt }}\n  </div>\n</body>\n</html>","options":{}},"id":"e80b243f-a8b7-4048-a045-61f685ffc6cb","name":"Send Notification Email","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[880,112],"webhookId":"6faf9969-ac80-4b88-a724-89cf770ec137","credentials":{"gmailOAuth2":{"id":"fZrABQqbULrOHoA3","name":"Gmail account"}},"notes":"Email HTML con resumen completo del lead calificado"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, leadId: $('Parse AI Response').first().json.id, tier: $('Parse AI Response').first().json.qualification.tier, score: $('Parse AI Response').first().json.qualification.score, message: 'Lead received and qualified successfully' }) }}","options":{}},"id":"3ac314dd-2490-4c57-bf04-77231cd47fce","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[880,304],"notes":"Responde al formulario con confirmación JSON"},{"parameters":{"promptType":"define","text":"=You are a B2B sales lead qualification expert. Analyze the following lead and return ONLY a valid JSON object with no extra text or markdown.\n\nLead Information:\n- Name: {{ $('Validate & Enrich Lead').item.json.name }}\n- Company: {{ $('Validate & Enrich Lead').item.json.company }}\n- Email: {{ $('Validate & Enrich Lead').item.json.email }}\n- Source: {{ $('Validate & Enrich Lead').item.json.source }}\n- Message: {{ $('Validate & Enrich Lead').item.json.message }}\n\nReturn ONLY this JSON structure:\n{\n  \"score\": <number 0-100>,\n  \"tier\": \"<HOT|WARM|COLD>\",\n  \"intent\": \"<description of purchase intent>\",\n  \"budget_signals\": \"<budget indicators found in message>\",\n  \"urgency\": \"<High|Medium|Low>\",\n  \"recommended_action\": \"<specific next step for sales team>\",\n  \"follow_up_within\": \"<timeframe e.g. 2 hours, 24 hours>\",\n  \"key_insights\": [\"<insight1>\", \"<insight2>\", \"<insight3>\"],\n  \"risk_flags\": [\"<flag if any, else empty array>\"],\n  \"personalized_opener\": \"<personalized first contact message>\"\n}\n\nScoring guide:\n- 80-100: HOT - Clear budget, high urgency, strong intent\n- 50-79: WARM - Some signals, needs nurturing\n- 0-49: COLD - Vague interest, no clear budget or timeline\n","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[16,16],"id":"4cb98aad-8c6b-4533-86a1-31c137a99573","name":"Basic LLM Chain"}],"connections":{"Webhook - New Lead":{"main":[[{"node":"Validate & Enrich Lead","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Route by Tier","type":"main","index":0}]]},"Route by Tier":{"main":[[{"node":"Save to Airtable CRM","type":"main","index":0}],[{"node":"Save to Airtable CRM","type":"main","index":0}]]},"Save to Airtable CRM":{"main":[[{"node":"Send Notification Email","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"Validate & Enrich Lead":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"AI Qualification (Ollama)":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"742a733f-08f8-4383-ae73-a486587fd3f0","activeVersionId":"4b1bc37d-f73b-4a10-8e20-4e86e7fdb870","versionCounter":100,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-08T20:21:52.069Z","createdAt":"2026-04-08T20:21:52.069Z","role":"workflow:owner","workflowId":"vxKmL8OXbIOSMqkH","projectId":"jjU7IHtvfVDnlwjZ","project":{"updatedAt":"2026-04-08T20:09:26.086Z","createdAt":"2026-04-08T19:29:03.618Z","id":"jjU7IHtvfVDnlwjZ","name":"Andres Silva <mundohuellitashop@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"aaf55ea4-046f-4236-9fe4-04998138524f"}}],"versionMetadata":{"name":null,"description":null}}]