flows/03-competitor-monitor-ai/flow.json
[{
  "id": "flow03CompetitorMonitor",
  "name": "03 - Competitor Monitor AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "sched-03-6h",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 0],
      "notes": "Ciclo de monitoreo continuo cada 6 horas"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "triggerAtDay": [1], "triggerAtHour": 8, "triggerAtMinute": 0 }]
        }
      },
      "id": "sched-03-weekly",
      "name": "Every Monday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 700],
      "notes": "Dispara el reporte semanal los lunes a las 8AM"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "competitors",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets-03-competitors",
      "name": "Read Competitors",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-980, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QCXBKHkn1sduOECj",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lee la lista de competidores activos del sheet"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-03-batch",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-760, 0],
      "notes": "Procesa cada competidor uno por uno"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-CO,es;q=0.9,en;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": { "responseFormat": "text" }
          }
        }
      },
      "id": "http-03-fetch",
      "name": "Fetch Competitor Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [-540, 0],
      "notes": "GET al sitio del competidor con User-Agent real, timeout 10s"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst competitor = $('SplitInBatches').item.json;\nconst response = $input.first().json;\n\nif (competitor.status && competitor.status.toLowerCase() === 'inactive') {\n  return [{json: {\n    competitor_name: competitor.competitor_name,\n    url: competitor.url,\n    section_to_monitor: competitor.section_to_monitor || '',\n    last_content: competitor.last_content || '',\n    last_checked: competitor.last_checked || '',\n    status: 'skip_inactive',\n    newContent: '',\n    newHash: '',\n    fetchedAt: new Date().toISOString()\n  }}];\n}\n\nconst rawHtml = response.data || response.body || String(response) || '';\n\nif (!rawHtml || rawHtml.length < 50) {\n  return [{json: {\n    competitor_name: competitor.competitor_name,\n    url: competitor.url,\n    section_to_monitor: competitor.section_to_monitor || '',\n    last_content: competitor.last_content || '',\n    last_checked: competitor.last_checked || '',\n    status: 'fetch_error',\n    newContent: '',\n    newHash: 'error_' + Date.now(),\n    fetchedAt: new Date().toISOString(),\n    error: 'Respuesta vacía o error de red'\n  }}];\n}\n\nconst priceMatches = (rawHtml.match(/\\$[\\s]?[\\d.,]+/g) || []).slice(0, 10);\nconst titleMatches = (rawHtml.match(/<h[1-3][^>]*>([^<]+)<\\/h[1-3]>/gi) || [])\n  .map(h => h.replace(/<[^>]+>/g, '').trim())\n  .filter(t => t.length > 2)\n  .slice(0, 5);\n\nlet text = rawHtml\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 3000);\n\nconst hash = crypto.createHash('md5').update(text).digest('hex');\n\nreturn [{json: {\n  competitor_name: competitor.competitor_name,\n  url: competitor.url,\n  section_to_monitor: competitor.section_to_monitor || '',\n  last_content: competitor.last_content || '',\n  last_checked: competitor.last_checked || '',\n  status: 'ok',\n  newContent: text,\n  newHash: hash,\n  extractedPrices: priceMatches,\n  extractedTitles: titleMatches,\n  fetchedAt: new Date().toISOString()\n}}];"
      },
      "id": "code-03-clean",
      "name": "Clean & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0],
      "notes": "Limpia HTML, extrae precios/títulos, calcula hash MD5"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.status === 'fetch_error' || data.status === 'skip_inactive') {\n  return [{json: { ...data, skipComparison: true }}];\n}\n\nif (!data.last_content || data.last_content.trim() === '') {\n  return [{json: { ...data, skipComparison: false, isFirstRun: true }}];\n}\n\nreturn [{json: { ...data, skipComparison: false, isFirstRun: false }}];"
      },
      "id": "code-03-stored",
      "name": "Get Stored Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 0],
      "notes": "Valida datos almacenados, detecta primera ejecución"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\n\nif (data.skipComparison) {\n  return [{json: { ...data, status: 'no_change', comparisonStatus: 'skip', diff: null }}];\n}\n\nif (data.isFirstRun) {\n  return [{json: {\n    ...data,\n    status: 'no_change',\n    comparisonStatus: 'baseline',\n    diff: null,\n    note: 'Primera ejecución — línea base establecida'\n  }}];\n}\n\nconst oldHash = crypto.createHash('md5').update(data.last_content).digest('hex');\n\nif (oldHash === data.newHash) {\n  return [{json: { ...data, status: 'no_change', comparisonStatus: 'identical', diff: null }}];\n}\n\nconst oldSnippet = data.last_content.substring(0, 800);\nconst newSnippet = data.newContent.substring(0, 800);\n\nconst oldWordSet = new Set(data.last_content.split(/\\s+/).filter(w => w.length > 4));\nconst newWords = data.newContent.split(/\\s+/).filter(w => w.length > 4);\nconst addedTerms = [...new Set(newWords.filter(w => !oldWordSet.has(w)))].slice(0, 30);\n\nconst diff = `CONTENIDO ANTERIOR (primeros 800 chars):\\n${oldSnippet}\\n\\nCONTENIDO ACTUAL (primeros 800 chars):\\n${newSnippet}\\n\\nTÉRMINOS NUEVOS DETECTADOS: ${addedTerms.join(', ') || 'ninguno'}\\nPRECIOS VISIBLES: ${(data.extractedPrices || []).join(', ') || 'ninguno'}\\nTÍTULOS: ${(data.extractedTitles || []).join(' | ') || 'ninguno'}`;\n\nreturn [{json: {\n  ...data,\n  status: 'changed',\n  comparisonStatus: 'changed',\n  diff,\n  changedAt: new Date().toISOString()\n}}];"
      },
      "id": "code-03-compare",
      "name": "Compare Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 0],
      "notes": "Compara hash nuevo vs guardado, genera diff para IA"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-03-changed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "changed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-03-changed",
      "name": "Change Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [340, 0],
      "notes": "TRUE → análisis IA | FALSE → solo actualiza last_checked"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un analista de inteligencia competitiva experto. Analiza este cambio detectado en el sitio web de un competidor y evalúa su importancia estratégica.\n\nCOMPETIDOR: {{ $json.competitor_name }}\nURL: {{ $json.url }}\nSECCIÓN MONITOREADA: {{ $json.section_to_monitor }}\n\nCAMBIO DETECTADO:\n{{ $json.diff }}\n\nResponde ÚNICAMENTE con un objeto JSON válido, sin texto adicional ni bloques de código markdown:\n{\"criticality\":\"CRITICAL|MODERATE|LOW\",\"change_type\":\"price_change|new_service|removed_service|messaging_change|promotion|other\",\"summary\":\"resumen del cambio en máximo 2 oraciones\",\"business_impact\":\"impacto potencial para nuestro negocio en 1 oración\",\"recommended_action\":\"acción concreta recomendada\",\"urgency\":\"immediate|this_week|monitor\"}"
      },
      "id": "llm-03-chain",
      "name": "AI Change Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [560, -200],
      "notes": "Analiza el cambio con Ollama, clasifica criticidad y tipo"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": { "temperature": 0.2 }
      },
      "id": "ollama-03-001",
      "name": "Ollama Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [560, 0],
      "credentials": {
        "ollamaApi": {
          "id": "7G8MbKlUIpL7R1BC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawResponse = $input.first().json.response || $input.first().json.text || '{}';\nconst competitorData = $input.first().json;\n\nlet jsonStr = rawResponse;\nconst jsonMatch = rawResponse.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) jsonStr = jsonMatch[0];\n\nlet analysis;\ntry {\n  analysis = JSON.parse(jsonStr);\n} catch(e) {\n  analysis = {\n    criticality: 'LOW',\n    change_type: 'other',\n    summary: 'No se pudo parsear el análisis. Revisar manualmente.',\n    business_impact: 'Desconocido — revisar manualmente',\n    recommended_action: 'Revisar el cambio en el sitio directamente',\n    urgency: 'monitor'\n  };\n}\n\nconst validCriticalities = ['CRITICAL', 'MODERATE', 'LOW'];\nif (!validCriticalities.includes(analysis.criticality)) {\n  analysis.criticality = 'LOW';\n}\n\nreturn [{json: {\n  competitor_name: competitorData.competitor_name,\n  url: competitorData.url,\n  section_to_monitor: competitorData.section_to_monitor,\n  newContent: competitorData.newContent,\n  newHash: competitorData.newHash,\n  fetchedAt: competitorData.fetchedAt,\n  diff: competitorData.diff,\n  criticality: analysis.criticality,\n  change_type: analysis.change_type || 'other',\n  summary: analysis.summary || '',\n  business_impact: analysis.business_impact || '',\n  recommended_action: analysis.recommended_action || '',\n  urgency: analysis.urgency || 'monitor'\n}}];"
      },
      "id": "code-03-parse",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, -200],
      "notes": "Parsea JSON de Ollama con fallback, normaliza campos"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "leftValue": "={{ $json.criticality }}",
                    "rightValue": "CRITICAL",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CRITICAL"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "leftValue": "={{ $json.criticality }}",
                    "rightValue": "MODERATE",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MODERATE"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-03-criticality",
      "name": "Route by Criticality",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1000, -200],
      "notes": "CRITICAL → Telegram + log | MODERATE/LOW → solo log"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🚨 *CAMBIO CRÍTICO DETECTADO*\n\n*Competidor:* {{ $json.competitor_name }}\n*Tipo:* {{ $json.change_type }}\n*Resumen:* {{ $json.summary }}\n*Impacto:* {{ $json.business_impact }}\n*Acción recomendada:* {{ $json.recommended_action }}\n*Urgencia:* {{ $json.urgency }}\n🔗 Ver sitio: {{ $json.url }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-03-alert",
      "name": "Telegram Critical Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1220, -400],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_TELEGRAM",
          "name": "Telegram Bot"
        }
      },
      "notes": "Alerta inmediata solo para cambios CRÍTICOS"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "change_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.fetchedAt }}",
            "competitor": "={{ $json.competitor_name }}",
            "change_type": "={{ $json.change_type }}",
            "criticality": "={{ $json.criticality }}",
            "summary": "={{ $json.summary }}",
            "notified": "={{ $json.criticality === 'CRITICAL' ? 'true' : 'false' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "sheets-03-log",
      "name": "Log Change",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1440, -200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QCXBKHkn1sduOECj",
          "name": "Google Sheets account"
        }
      },
      "notes": "Registra el cambio en change_log"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "competitors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "competitor_name": "={{ $json.competitor_name }}",
            "last_content": "={{ $json.newContent }}",
            "last_checked": "={{ $json.fetchedAt }}",
            "status": "active"
          },
          "matchingColumns": ["competitor_name"],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-03-update",
      "name": "Update Competitor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1660, -200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QCXBKHkn1sduOECj",
          "name": "Google Sheets account"
        }
      },
      "notes": "Actualiza last_content y last_checked del competidor"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "competitors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "competitor_name": "={{ $json.competitor_name }}",
            "last_content": "={{ $json.newContent }}",
            "last_checked": "={{ $json.fetchedAt }}",
            "status": "active"
          },
          "matchingColumns": ["competitor_name"],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-03-nochange",
      "name": "Update No Change",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [560, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QCXBKHkn1sduOECj",
          "name": "Google Sheets account"
        }
      },
      "notes": "Actualiza last_checked aunque no haya cambio"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "change_log",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets-03-changelog",
      "name": "Read Change Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-980, 700],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QCXBKHkn1sduOECj",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lee todos los cambios registrados para el reporte semanal"
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all().map(item => item.json);\n\nconst oneWeekAgo = new Date();\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\nconst weekChanges = allRows.filter(row => {\n  if (!row.date) return false;\n  try { return new Date(row.date) >= oneWeekAgo; } catch(e) { return false; }\n});\n\nconst criticalCount = weekChanges.filter(c => c.criticality === 'CRITICAL').length;\nconst moderateCount = weekChanges.filter(c => c.criticality === 'MODERATE').length;\nconst lowCount = weekChanges.filter(c => c.criticality === 'LOW').length;\n\nconst byCompetitor = {};\nweekChanges.forEach(c => {\n  const comp = c.competitor || 'Unknown';\n  if (!byCompetitor[comp]) byCompetitor[comp] = { total: 0, critical: 0 };\n  byCompetitor[comp].total++;\n  if (c.criticality === 'CRITICAL') byCompetitor[comp].critical++;\n});\n\nconst changesText = weekChanges.length > 0\n  ? weekChanges.map(c => `[${c.criticality || 'N/A'}] ${c.competitor || 'N/A'} — ${c.change_type || 'N/A'}: ${c.summary || 'sin resumen'}`).join('\\n')\n  : 'No se detectaron cambios esta semana.';\n\nconst competitorSummary = Object.entries(byCompetitor)\n  .map(([comp, data]) => `${comp}: ${data.total} cambio(s), ${data.critical} crítico(s)`)\n  .join('\\n');\n\nconst weekStart = oneWeekAgo.toISOString().split('T')[0];\nconst weekEnd = new Date().toISOString().split('T')[0];\nconst weekNum = Math.ceil(new Date().getDate() / 7);\n\nreturn [{json: {\n  totalChanges: weekChanges.length,\n  criticalCount,\n  moderateCount,\n  lowCount,\n  changesText,\n  competitorSummary,\n  weekStart,\n  weekEnd,\n  weekNum,\n  reportDate: new Date().toLocaleDateString('es-CO', { timeZone: 'America/Bogota', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })\n}}];"
      },
      "id": "code-03-weekly",
      "name": "Build Weekly Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-760, 700],
      "notes": "Agrega cambios de los últimos 7 días para el resumen ejecutivo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un consultor estratégico experto en inteligencia competitiva. Analiza los cambios detectados en sitios de competidores durante la semana y genera un reporte ejecutivo accionable.\n\nPERÍODO: {{ $json.weekStart }} al {{ $json.weekEnd }}\nTOTAL CAMBIOS DETECTADOS: {{ $json.totalChanges }}\n- CRÍTICOS: {{ $json.criticalCount }}\n- MODERADOS: {{ $json.moderateCount }}\n- BAJOS: {{ $json.lowCount }}\n\nRESUMEN POR COMPETIDOR:\n{{ $json.competitorSummary || 'Sin actividad' }}\n\nDETALLE DE CAMBIOS:\n{{ $json.changesText }}\n\nGenera el reporte con estas secciones exactas:\n1. RESUMEN EJECUTIVO (2-3 oraciones con el panorama competitivo de la semana)\n2. ALERTAS PRIORITARIAS (cambios CRÍTICOS que requieren acción inmediata, o 'Ninguna esta semana')\n3. PATRONES DETECTADOS (tendencias o movimientos estratégicos observados)\n4. AMENAZAS Y OPORTUNIDADES (riesgos y ventanas de oportunidad identificadas)\n5. ACCIONES RECOMENDADAS (máximo 3 acciones concretas y priorizadas para esta semana)\n\nTono: estratégico, conciso, orientado a decisiones de negocio. Máximo 400 palabras."
      },
      "id": "llm-03-weekly",
      "name": "Weekly Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [-540, 700],
      "notes": "Genera resumen estratégico semanal con Ollama"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": { "temperature": 0.3 }
      },
      "id": "ollama-03-weekly",
      "name": "Ollama Weekly",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [-540, 900],
      "credentials": {
        "ollamaApi": {
          "id": "7G8MbKlUIpL7R1BC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Weekly Context').first().json;\nconst narrative = ($input.first().json.response || $input.first().json.text || 'Reporte no disponible')\n  .replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  .replace(/\\n/g, '<br>')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\nconst criticalColor = ctx.criticalCount > 0 ? '#fef2f2' : '#f0fdf4';\nconst criticalText = ctx.criticalCount > 0 ? '#dc2626' : '#16a34a';\n\nconst html = `<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f1f5f9;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\"><tr><td align=\"center\"><table width=\"620\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:620px;width:100%;\"><tr><td style=\"background:linear-gradient(135deg,#0f172a 0%,#1e3a5f 60%,#1e40af 100%);border-radius:16px 16px 0 0;padding:32px;\"><p style=\"margin:0 0 4px;color:rgba(255,255,255,0.6);font-size:11px;letter-spacing:0.1em;text-transform:uppercase;\">Inteligencia Competitiva Automatizada</p><h1 style=\"margin:0 0 8px;color:#fff;font-size:22px;font-weight:700;\">Competitor Intelligence Report</h1><p style=\"margin:0;color:rgba(255,255,255,0.8);font-size:13px;\">📅 Semana ${ctx.weekNum} · ${ctx.weekStart} al ${ctx.weekEnd}</p><p style=\"margin:4px 0 0;color:rgba(255,255,255,0.45);font-size:11px;\">Generado automáticamente · n8n + Ollama llama3.2</p></td></tr><tr><td style=\"background:#fff;padding:24px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"25%\" style=\"padding:0 5px 0 0;\"><div style=\"background:#eff6ff;border-radius:12px;padding:14px;text-align:center;\"><div style=\"font-size:28px;font-weight:800;color:#1e40af;\">${ctx.totalChanges}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Cambios</div></div></td><td width=\"25%\" style=\"padding:0 5px;\"><div style=\"background:${criticalColor};border-radius:12px;padding:14px;text-align:center;\"><div style=\"font-size:28px;font-weight:800;color:${criticalText};\">${ctx.criticalCount}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Críticos</div></div></td><td width=\"25%\" style=\"padding:0 5px;\"><div style=\"background:#fefce8;border-radius:12px;padding:14px;text-align:center;\"><div style=\"font-size:28px;font-weight:800;color:#d97706;\">${ctx.moderateCount}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Moderados</div></div></td><td width=\"25%\" style=\"padding:0 0 0 5px;\"><div style=\"background:#f8fafc;border-radius:12px;padding:14px;text-align:center;\"><div style=\"font-size:28px;font-weight:800;color:#64748b;\">${ctx.lowCount}</div><div style=\"font-size:10px;color:#64748b;margin-top:4px;text-transform:uppercase;letter-spacing:0.06em;\">Bajos</div></div></td></tr></table></td></tr><tr><td style=\"background:#fff;padding:0 24px 24px;\"><div style=\"background:#f8fafc;border-left:4px solid #1e40af;border-radius:0 12px 12px 0;padding:20px;\"><p style=\"margin:0 0 12px;font-size:11px;font-weight:700;color:#1e40af;text-transform:uppercase;letter-spacing:0.08em;\">✦ Análisis Estratégico IA — Ollama llama3.2</p><div style=\"font-size:14px;line-height:1.75;color:#374151;\">${narrative}</div></div></td></tr><tr><td style=\"background:#1e293b;border-radius:0 0 16px 16px;padding:16px 24px;text-align:center;\"><p style=\"margin:0;color:#94a3b8;font-size:11px;\">Competitor Monitor AI · n8n + Ollama llama3.2 · Costo IA: $0</p><p style=\"margin:4px 0 0;color:#475569;font-size:10px;\">Flow 03 — Portfolio Cristian Silva</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{json: {\n  html,\n  subject: `🔍 Competitor Intelligence — Semana ${ctx.weekNum} · ${ctx.totalChanges} cambios · ${ctx.criticalCount} críticos`\n}}];"
      },
      "id": "code-03-html",
      "name": "Build Weekly HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 700],
      "notes": "Construye el email HTML del reporte semanal"
    },
    {
      "parameters": {
        "sendTo": "cristian.1003@hotmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": { "appendAttribution": false }
      },
      "id": "gmail-03-weekly",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [-100, 700],
      "credentials": {
        "gmailOAuth2": {
          "id": "fZrABQqbULrOHoA3",
          "name": "Gmail account"
        }
      },
      "notes": "Envía el reporte HTML semanal a cristian.1003@hotmail.com"
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [[{ "node": "Read Competitors", "type": "main", "index": 0 }]]
    },
    "Read Competitors": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    },
    "SplitInBatches": {
      "main": [
        [{ "node": "Fetch Competitor Site", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Competitor Site": {
      "main": [[{ "node": "Clean & Extract", "type": "main", "index": 0 }]]
    },
    "Clean & Extract": {
      "main": [[{ "node": "Get Stored Data", "type": "main", "index": 0 }]]
    },
    "Get Stored Data": {
      "main": [[{ "node": "Compare Content", "type": "main", "index": 0 }]]
    },
    "Compare Content": {
      "main": [[{ "node": "Change Detected?", "type": "main", "index": 0 }]]
    },
    "Change Detected?": {
      "main": [
        [{ "node": "AI Change Analysis", "type": "main", "index": 0 }],
        [{ "node": "Update No Change", "type": "main", "index": 0 }]
      ]
    },
    "Ollama Analysis": {
      "ai_languageModel": [[{ "node": "AI Change Analysis", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Change Analysis": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Route by Criticality", "type": "main", "index": 0 }]]
    },
    "Route by Criticality": {
      "main": [
        [{ "node": "Telegram Critical Alert", "type": "main", "index": 0 }],
        [{ "node": "Log Change", "type": "main", "index": 0 }],
        [{ "node": "Log Change", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Critical Alert": {
      "main": [[{ "node": "Log Change", "type": "main", "index": 0 }]]
    },
    "Log Change": {
      "main": [[{ "node": "Update Competitor", "type": "main", "index": 0 }]]
    },
    "Update Competitor": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    },
    "Update No Change": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    },
    "Every Monday 8AM": {
      "main": [[{ "node": "Read Change Log", "type": "main", "index": 0 }]]
    },
    "Read Change Log": {
      "main": [[{ "node": "Build Weekly Context", "type": "main", "index": 0 }]]
    },
    "Build Weekly Context": {
      "main": [[{ "node": "Weekly Summary", "type": "main", "index": 0 }]]
    },
    "Ollama Weekly": {
      "ai_languageModel": [[{ "node": "Weekly Summary", "type": "ai_languageModel", "index": 0 }]]
    },
    "Weekly Summary": {
      "main": [[{ "node": "Build Weekly HTML", "type": "main", "index": 0 }]]
    },
    "Build Weekly HTML": {
      "main": [[{ "node": "Send Weekly Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "meta": { "templateCredsSetupCompleted": false }
}]
