flows/03-competitor-monitor-ai/flow.json
[
  {
    "id": "flow03CompetitorMonitor",
    "name": "03 - Competitor Monitor AI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "id": "sched-03-6h",
        "name": "Every 6 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1200,
          0
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 8,
                "triggerAtMinute": 0
              }
            ]
          }
        },
        "id": "sched-03-weekly",
        "name": "Every Monday 8AM",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1200,
          700
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "competitors",
            "mode": "name"
          },
          "options": {}
        },
        "id": "sheets-03-competitors",
        "name": "Read Competitors",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          -980,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "QCXBKHkn1sduOECj",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Keep only active competitors and normalize fields\nconst items = $input.all();\nconst active = items.filter(item => {\n  const status = (item.json.status || '').toLowerCase().trim();\n  return status === 'active';\n});\n\nif (active.length === 0) {\n  throw new Error('No active competitors found. Add rows with status=active to the competitors sheet.');\n}\n\nreturn active.map(item => ({ json: {\n  competitor_name: (item.json.competitor_name || '').trim(),\n  url: (item.json.url || '').trim(),\n  section_to_monitor: (item.json.section_to_monitor || '').trim(),\n  last_content: item.json.last_content || '',\n  last_checked: item.json.last_checked || '',\n  status: 'active'\n}}));"
        },
        "id": "code-03-filter",
        "name": "Filter Active",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -760,
          0
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "es-CO,es;q=0.9,en;q=0.8"
              }
            ]
          },
          "options": {
            "timeout": 15000,
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "id": "http-03-fetch",
        "name": "Fetch Competitor Site",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "continueOnFail": true,
        "position": [
          -540,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507) ^ Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507) ^ Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  return (4294967296 * (2097151 & h2) + (h1 >>> 0)).toString(16);\n}\n\n// Competitor metadata comes from the paired item in Filter Active\nconst competitor = $('Filter Active').item.json;\n\n// HTTP response is the current item\nconst response = $input.item.json;\n\n// Detect fetch failure: continueOnFail passes original item on error\n// Real HTML will be in response.data or response.body (string, long)\nconst rawHtml = (typeof response.data === 'string' && response.data.length > 200)\n  ? response.data\n  : (typeof response.body === 'string' && response.body.length > 200)\n  ? response.body\n  : null;\n\nif (!rawHtml) {\n  return { json: {\n    competitor_name: competitor.competitor_name,\n    url: competitor.url,\n    section_to_monitor: competitor.section_to_monitor,\n    last_content: competitor.last_content,\n    last_checked: competitor.last_checked,\n    changeDetected: false,\n    comparisonStatus: 'fetch_error',\n    newContent: '',\n    newHash: '',\n    fetchedAt: new Date().toISOString(),\n    error: 'Fetch failed — timeout, 403, or network error'\n  }};\n}\n\nconst priceMatches = (rawHtml.match(/\\$[\\s]?[\\d.,]+/g) || []).slice(0, 10);\nconst titleMatches = (rawHtml.match(/<h[1-3][^>]*>([^<]+)<\\/h[1-3]>/gi) || [])\n  .map(h => h.replace(/<[^>]+>/g, '').trim())\n  .filter(t => t.length > 2)\n  .slice(0, 5);\n\nconst cleanText = rawHtml\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 3000);\n\nconst newHash = simpleHash(cleanText);\n\n// FIRST RUN: no baseline stored yet → save baseline, log as first_run\nif (!competitor.last_content || competitor.last_content.trim() === '') {\n  return { json: {\n    competitor_name: competitor.competitor_name,\n    url: competitor.url,\n    section_to_monitor: competitor.section_to_monitor,\n    last_content: competitor.last_content,\n    last_checked: competitor.last_checked,\n    changeDetected: true,\n    comparisonStatus: 'baseline',\n    newContent: cleanText,\n    newHash,\n    extractedPrices: priceMatches,\n    extractedTitles: titleMatches,\n    fetchedAt: new Date().toISOString(),\n    // Pre-fill AI fields so no AI call needed on first run\n    criticality: 'LOW',\n    change_type: 'first_run',\n    summary: 'Primera ejecución — línea base establecida para ' + competitor.competitor_name,\n    business_impact: 'Sin impacto — solo se establece la línea base inicial',\n    recommended_action: 'Ninguna acción necesaria',\n    urgency: 'monitor',\n    skipAI: true\n  }};\n}\n\n// COMPARE: check if content changed\nconst oldHash = simpleHash(competitor.last_content);\n\nif (oldHash === newHash) {\n  // No change — end path here, no Sheets write needed\n  return { json: {\n    competitor_name: competitor.competitor_name,\n    url: competitor.url,\n    changeDetected: false,\n    comparisonStatus: 'no_change',\n    fetchedAt: new Date().toISOString()\n  }};\n}\n\n// CHANGE DETECTED — build diff for AI\nconst oldSnippet = competitor.last_content.substring(0, 800);\nconst newSnippet = cleanText.substring(0, 800);\nconst oldWordSet = new Set(competitor.last_content.split(/\\s+/).filter(w => w.length > 4));\nconst addedTerms = [...new Set(cleanText.split(/\\s+/).filter(w => w.length > 4 && !oldWordSet.has(w)))].slice(0, 30);\n\nconst diff = `CONTENIDO ANTERIOR:\\n${oldSnippet}\\n\\nCONTENIDO ACTUAL:\\n${newSnippet}\\n\\nTÉRMINOS NUEVOS: ${addedTerms.join(', ') || 'ninguno'}\\nPRECIOS: ${priceMatches.join(', ') || 'ninguno'}\\nTÍTULOS: ${titleMatches.join(' | ') || 'ninguno'}`;\n\nreturn { json: {\n  competitor_name: competitor.competitor_name,\n  url: competitor.url,\n  section_to_monitor: competitor.section_to_monitor,\n  last_content: competitor.last_content,\n  last_checked: competitor.last_checked,\n  changeDetected: true,\n  comparisonStatus: 'changed',\n  newContent: cleanText,\n  newHash,\n  diff,\n  fetchedAt: new Date().toISOString(),\n  skipAI: false\n}};",
          "mode": "runOnceForEachItem"
        },
        "id": "code-03-clean",
        "name": "Clean & Compare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-changed",
                "leftValue": "={{ $json.changeDetected }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-03-changed",
        "name": "Change Detected?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -100,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-skipai",
                "leftValue": "={{ $json.skipAI }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-03-skipai",
        "name": "Skip AI?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          120,
          -200
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Eres un analista de inteligencia competitiva experto. Analiza este cambio detectado en el sitio web de un competidor.\n\nCOMPETIDOR: {{ $json.competitor_name }}\nURL: {{ $json.url }}\nSECCIÓN MONITOREADA: {{ $json.section_to_monitor }}\n\nCAMBIO DETECTADO:\n{{ $json.diff }}\n\nResponde ÚNICAMENTE con un objeto JSON válido (sin markdown ni texto adicional):\n{\"criticality\":\"CRITICAL|MODERATE|LOW\",\"change_type\":\"price_change|new_service|removed_service|messaging_change|promotion|other\",\"summary\":\"resumen en máximo 2 oraciones\",\"business_impact\":\"impacto potencial en 1 oración\",\"recommended_action\":\"acción concreta recomendada\",\"urgency\":\"immediate|this_week|monitor\"}"
        },
        "id": "llm-03-chain",
        "name": "AI Change Analysis",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          340,
          -400
        ]
      },
      {
        "parameters": {
          "model": "llama3.2:latest",
          "options": {
            "temperature": 0.2
          }
        },
        "id": "ollama-03-001",
        "name": "Ollama Analysis",
        "type": "@n8n/n8n-nodes-langchain.lmOllama",
        "typeVersion": 1,
        "position": [
          340,
          -200
        ],
        "credentials": {
          "ollamaApi": {
            "id": "7G8MbKlUIpL7R1BC",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.item.json;\nconst rawResponse = input.response || input.text || '{}';\n\nconst jsonMatch = rawResponse.match(/\\{[\\s\\S]*\\}/);\nlet analysis;\ntry {\n  analysis = JSON.parse(jsonMatch ? jsonMatch[0] : rawResponse);\n} catch(e) {\n  analysis = {\n    criticality: 'LOW',\n    change_type: 'other',\n    summary: 'No se pudo parsear el análisis — revisar manualmente.',\n    business_impact: 'Desconocido',\n    recommended_action: 'Revisar el sitio directamente',\n    urgency: 'monitor'\n  };\n}\n\nif (!['CRITICAL', 'MODERATE', 'LOW'].includes(analysis.criticality)) analysis.criticality = 'LOW';\n\nreturn { json: {\n  competitor_name: input.competitor_name,\n  url: input.url,\n  section_to_monitor: input.section_to_monitor,\n  newContent: input.newContent,\n  newHash: input.newHash,\n  fetchedAt: input.fetchedAt,\n  criticality: analysis.criticality,\n  change_type: analysis.change_type || 'other',\n  summary: analysis.summary || '',\n  business_impact: analysis.business_impact || '',\n  recommended_action: analysis.recommended_action || '',\n  urgency: analysis.urgency || 'monitor'\n}};",
          "mode": "runOnceForEachItem"
        },
        "id": "code-03-parse",
        "name": "Parse AI Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "// First-run baseline: no AI needed, just pass through with LOW criticality\nconst input = $input.item.json;\nreturn { json: {\n  competitor_name: input.competitor_name,\n  url: input.url,\n  section_to_monitor: input.section_to_monitor,\n  newContent: input.newContent,\n  newHash: input.newHash,\n  fetchedAt: input.fetchedAt,\n  criticality: 'LOW',\n  change_type: 'first_run',\n  summary: input.summary,\n  business_impact: input.business_impact,\n  recommended_action: input.recommended_action,\n  urgency: 'monitor'\n}};",
          "mode": "runOnceForEachItem"
        },
        "id": "code-03-baseline",
        "name": "Baseline Pass",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          340,
          -600
        ]
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.criticality }}",
                      "rightValue": "CRITICAL",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CRITICAL"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.criticality }}",
                      "rightValue": "MODERATE",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "MODERATE"
              }
            ]
          },
          "fallbackOutput": "extra"
        },
        "id": "switch-03-criticality",
        "name": "Route by Criticality",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          780,
          -400
        ]
      },
      {
        "parameters": {
          "chatId": "YOUR_CHAT_ID",
          "text": "=🚨 *CAMBIO CRÍTICO DETECTADO*\n\n*Competidor:* {{ $json.competitor_name }}\n*Tipo:* {{ $json.change_type }}\n*Resumen:* {{ $json.summary }}\n*Impacto:* {{ $json.business_impact }}\n*Acción:* {{ $json.recommended_action }}\n*Urgencia:* {{ $json.urgency }}\n🔗 {{ $json.url }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "telegram-03-alert",
        "name": "Telegram Critical Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1000,
          -600
        ],
        "credentials": {
          "telegramApi": {
            "id": "REEMPLAZAR_CON_ID_CREDENCIAL_TELEGRAM",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "change_log",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "date": "={{ $json.fetchedAt }}",
              "competitor": "={{ $json.competitor_name }}",
              "change_type": "={{ $json.change_type }}",
              "criticality": "={{ $json.criticality }}",
              "summary": "={{ $json.summary }}",
              "notified": "={{ $json.criticality === 'CRITICAL' ? 'true' : 'false' }}"
            },
            "matchingColumns": [],
            "schema": []
          },
          "options": {
            "cellFormat": "USER_ENTERED"
          }
        },
        "id": "sheets-03-log",
        "name": "Log Change",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "continueOnFail": true,
        "position": [
          1220,
          -400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "QCXBKHkn1sduOECj",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "competitors",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "competitor_name": "={{ $json.competitor_name }}",
              "last_content": "={{ $json.newContent }}",
              "last_checked": "={{ $json.fetchedAt }}",
              "status": "active"
            },
            "matchingColumns": [
              "competitor_name"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "sheets-03-update",
        "name": "Update Competitor",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "continueOnFail": true,
        "position": [
          1440,
          -400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "QCXBKHkn1sduOECj",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "1gIUwY39ca1hbX7O12P8ND66z8kgtzaBrQ9Ptlz-_gBU",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "change_log",
            "mode": "name"
          },
          "options": {}
        },
        "id": "sheets-03-changelog",
        "name": "Read Change Log",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          -980,
          700
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "QCXBKHkn1sduOECj",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allRows = $input.all().map(item => item.json);\nconst oneWeekAgo = new Date();\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\nconst weekChanges = allRows.filter(row => {\n  if (!row.date) return false;\n  try { return new Date(row.date) >= oneWeekAgo; } catch(e) { return false; }\n});\n\nconst criticalCount = weekChanges.filter(c => c.criticality === 'CRITICAL').length;\nconst moderateCount = weekChanges.filter(c => c.criticality === 'MODERATE').length;\nconst lowCount = weekChanges.filter(c => c.criticality === 'LOW').length;\n\nconst byCompetitor = {};\nweekChanges.forEach(c => {\n  const comp = c.competitor || 'Unknown';\n  if (!byCompetitor[comp]) byCompetitor[comp] = { total: 0, critical: 0 };\n  byCompetitor[comp].total++;\n  if (c.criticality === 'CRITICAL') byCompetitor[comp].critical++;\n});\n\nconst changesText = weekChanges.length > 0\n  ? weekChanges.map(c => `[${c.criticality}] ${c.competitor} — ${c.change_type}: ${c.summary}`).join('\\n')\n  : 'No se detectaron cambios esta semana.';\n\nconst competitorSummary = Object.entries(byCompetitor)\n  .map(([comp, data]) => `${comp}: ${data.total} cambio(s), ${data.critical} crítico(s)`)\n  .join('\\n') || 'Sin actividad';\n\nconst weekStart = oneWeekAgo.toISOString().split('T')[0];\nconst weekEnd = new Date().toISOString().split('T')[0];\nconst weekNum = Math.ceil(new Date().getDate() / 7);\n\nreturn [{ json: { totalChanges: weekChanges.length, criticalCount, moderateCount, lowCount, changesText, competitorSummary, weekStart, weekEnd, weekNum } }];"
        },
        "id": "code-03-weekly",
        "name": "Build Weekly Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -760,
          700
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Eres un consultor estratégico de inteligencia competitiva. Analiza los cambios detectados esta semana y genera un reporte ejecutivo accionable.\n\nPERÍODO: {{ $json.weekStart }} al {{ $json.weekEnd }}\nTOTAL CAMBIOS: {{ $json.totalChanges }} ({{ $json.criticalCount }} críticos · {{ $json.moderateCount }} moderados · {{ $json.lowCount }} bajos)\n\nRESUMEN POR COMPETIDOR:\n{{ $json.competitorSummary }}\n\nDETALLE:\n{{ $json.changesText }}\n\nGenera el reporte con estas 5 secciones:\n1. RESUMEN EJECUTIVO (2-3 oraciones)\n2. ALERTAS PRIORITARIAS (cambios CRÍTICOS o 'Ninguna esta semana')\n3. PATRONES DETECTADOS\n4. AMENAZAS Y OPORTUNIDADES\n5. ACCIONES RECOMENDADAS (máximo 3, priorizadas)\n\nTono: estratégico, conciso. Máximo 400 palabras."
        },
        "id": "llm-03-weekly",
        "name": "Weekly Summary",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          -540,
          700
        ]
      },
      {
        "parameters": {
          "model": "llama3.2:latest",
          "options": {
            "temperature": 0.3
          }
        },
        "id": "ollama-03-weekly",
        "name": "Ollama Weekly",
        "type": "@n8n/n8n-nodes-langchain.lmOllama",
        "typeVersion": 1,
        "position": [
          -540,
          900
        ],
        "credentials": {
          "ollamaApi": {
            "id": "7G8MbKlUIpL7R1BC",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build Weekly Context').first().json;\nconst narrative = ($input.first().json.response || $input.first().json.text || 'Reporte no disponible')\n  .replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  .replace(/\\n/g, '<br>')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\nconst criticalBg = ctx.criticalCount > 0 ? '#fef2f2' : '#f0fdf4';\nconst criticalColor = ctx.criticalCount > 0 ? '#dc2626' : '#16a34a';\n\nconst html = `<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f1f5f9;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:32px 16px;\"><tr><td align=\"center\"><table width=\"620\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:linear-gradient(135deg,#0f172a,#1e3a5f,#1e40af);border-radius:16px 16px 0 0;padding:32px;\"><p style=\"margin:0 0 4px;color:rgba(255,255,255,0.6);font-size:11px;text-transform:uppercase;letter-spacing:.1em;\">Inteligencia Competitiva Automatizada</p><h1 style=\"margin:0 0 8px;color:#fff;font-size:22px;\">Competitor Intelligence Report</h1><p style=\"margin:0;color:rgba(255,255,255,0.8);font-size:13px;\">Semana ${ctx.weekNum} · ${ctx.weekStart} al ${ctx.weekEnd}</p><p style=\"margin:4px 0 0;color:rgba(255,255,255,0.4);font-size:11px;\">n8n + Ollama llama3.2 · Costo IA: $0</p></td></tr><tr><td style=\"background:#fff;padding:24px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"25%\" style=\"padding:0 4px 0 0\"><div style=\"background:#eff6ff;border-radius:12px;padding:14px;text-align:center\"><div style=\"font-size:28px;font-weight:800;color:#1e40af\">${ctx.totalChanges}</div><div style=\"font-size:10px;color:#64748b;text-transform:uppercase;margin-top:4px\">Cambios</div></div></td><td width=\"25%\" style=\"padding:0 4px\"><div style=\"background:${criticalBg};border-radius:12px;padding:14px;text-align:center\"><div style=\"font-size:28px;font-weight:800;color:${criticalColor}\">${ctx.criticalCount}</div><div style=\"font-size:10px;color:#64748b;text-transform:uppercase;margin-top:4px\">Críticos</div></div></td><td width=\"25%\" style=\"padding:0 4px\"><div style=\"background:#fefce8;border-radius:12px;padding:14px;text-align:center\"><div style=\"font-size:28px;font-weight:800;color:#d97706\">${ctx.moderateCount}</div><div style=\"font-size:10px;color:#64748b;text-transform:uppercase;margin-top:4px\">Moderados</div></div></td><td width=\"25%\" style=\"padding:0 0 0 4px\"><div style=\"background:#f8fafc;border-radius:12px;padding:14px;text-align:center\"><div style=\"font-size:28px;font-weight:800;color:#64748b\">${ctx.lowCount}</div><div style=\"font-size:10px;color:#64748b;text-transform:uppercase;margin-top:4px\">Bajos</div></div></td></tr></table></td></tr><tr><td style=\"background:#fff;padding:0 24px 24px\"><div style=\"background:#f8fafc;border-left:4px solid #1e40af;border-radius:0 12px 12px 0;padding:20px\"><p style=\"margin:0 0 12px;font-size:11px;font-weight:700;color:#1e40af;text-transform:uppercase;letter-spacing:.08em\">Análisis Estratégico — Ollama llama3.2</p><div style=\"font-size:14px;line-height:1.75;color:#374151\">${narrative}</div></div></td></tr><tr><td style=\"background:#1e293b;border-radius:0 0 16px 16px;padding:16px 24px;text-align:center\"><p style=\"margin:0;color:#94a3b8;font-size:11px\">Competitor Monitor AI · Flow 03 — Portfolio Cristian Silva</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{ json: {\n  html,\n  subject: `Competitor Intelligence — Semana ${ctx.weekNum} · ${ctx.totalChanges} cambios · ${ctx.criticalCount} críticos`\n}}];"
        },
        "id": "code-03-html",
        "name": "Build Weekly HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          700
        ]
      },
      {
        "parameters": {
          "sendTo": "cristian.1003@hotmail.com",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "gmail-03-weekly",
        "name": "Send Weekly Report",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          -100,
          700
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "fZrABQqbULrOHoA3",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "Every 6 Hours": {
        "main": [
          [
            {
              "node": "Read Competitors",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Competitors": {
        "main": [
          [
            {
              "node": "Filter Active",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Active": {
        "main": [
          [
            {
              "node": "Fetch Competitor Site",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Competitor Site": {
        "main": [
          [
            {
              "node": "Clean & Compare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clean & Compare": {
        "main": [
          [
            {
              "node": "Change Detected?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change Detected?": {
        "main": [
          [
            {
              "node": "Skip AI?",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Skip AI?": {
        "main": [
          [
            {
              "node": "Baseline Pass",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Change Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baseline Pass": {
        "main": [
          [
            {
              "node": "Route by Criticality",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Analysis": {
        "ai_languageModel": [
          [
            {
              "node": "AI Change Analysis",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Change Analysis": {
        "main": [
          [
            {
              "node": "Parse AI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Response": {
        "main": [
          [
            {
              "node": "Route by Criticality",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Criticality": {
        "main": [
          [
            {
              "node": "Telegram Critical Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Change",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Change",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Critical Alert": {
        "main": [
          [
            {
              "node": "Log Change",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Change": {
        "main": [
          [
            {
              "node": "Update Competitor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every Monday 8AM": {
        "main": [
          [
            {
              "node": "Read Change Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Change Log": {
        "main": [
          [
            {
              "node": "Build Weekly Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Weekly Context": {
        "main": [
          [
            {
              "node": "Weekly Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Weekly": {
        "ai_languageModel": [
          [
            {
              "node": "Weekly Summary",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Weekly Summary": {
        "main": [
          [
            {
              "node": "Build Weekly HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Weekly HTML": {
        "main": [
          [
            {
              "node": "Send Weekly Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-04-10T00:00:00.000Z",
    "versionId": "flow03-v5-no-loop"
  }
]